*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Softorange: hsl(35, 77%, 62%);
   --Softred: hsl(5, 85%, 63%);
   --Off-white: hsl(36, 100%, 99%);
 --Grayishblue: hsl(233, 8%, 79%);
 --Darkgrayishblue: hsl(236, 13%, 42%);
--Verydarkblue: hsl(240, 100%, 5%);
}

.today{
    display: flex;
    gap: 12%;
    flex-direction: row;
    margin-bottom: 12px;
    margin-left: 5%;
}
.triton{
    display: flex;
    flex-direction: row;
    gap: 2%;
    color: var(--Darkgrayishblue);
}
.ariel, .triton{
    flex: 1;
}

.ariel{
    width: 50px;
    height: 50px;
}

.day{
    margin: 4% 4% 4% 4%;
    width: 100%;
    overflow: hidden;
}

.container{
 width: 100%;
 margin-left: 5rem;
 margin-right: 4rem;
 
position: relative;
}

.right{
    width: 18%; 
    height: 361px;
    background-color: var(--Verydarkblue);
    color: var(--Off-white);
    padding: 1%;
    position: absolute; 
    top: 0; 
   right: 19%; 
}
.right h1{
    color: var(--Softorange);
    margin-bottom: 15px;
}
.right h3{
    margin-bottom: 10px;
    margin-top: 10px;
} 
.right p{
    color: var(--Grayishblue);
    font-size: 12px;
    font-family: "Inter";
    font-weight: 100;
}

.left-things{
    width: 80%;
    display: flex;
    flex-direction: row;
     margin: 1%; 
    

}
 .left-p{
 padding-left: 15rem;
 color: var(--Darkgrayishblue);
 font-size: 15px;
 font-family: "Inter";
 line-height: 20px;
} 

.left img{
     width: 55%; 
}

.left h1{
    font-size: 40px;
    font-weight: 700;
}

button{
    margin-top: 25px;
    background-color: var(--Softred);
    color: black;
    border: none;
    padding: 10px;
    width: 122px;
    font-family: "Inter";
    letter-spacing: 1px;
    text-transform: uppercase;
}
.frozen{
    display: flex;
    flex-direction: row;
    margin-top: 54px;
    margin-left: 6%;
    margin-right: 6%;
}
.frozen h3{
    color: var(--Softred);
    font-size: 28px;
}
.anna,.elsa,.olaf{
    flex: 1;
}
.anna{
    display: flex;
}

.anna,.pocket{
flex: 1;
}
.elsa{
 display: flex;
}
.elsa,.polly{
    flex: 1;
}
.olaf{
 display: flex;
} 
.olaf,.dahlia{
 flex: 1;
}
.polly{
    line-height: 22px ;
    margin-left: 22px;
}
.dahlia{
    line-height: 22px ;
    margin-left: 22px;
}
.pocket{
    line-height: 22px ;
    margin-left: 22px;
}
.frozen p{
    color: var(--Darkgrayishblue);
}


 @media (max-width:480px){
   .left img{
    margin: 1%;
   }
   container{
    width: 2%;
   }
} 